* {
    margin: 0px;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
}
main {
    width: 1920px;
}
h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: gray;
    width: 70%;
}

.upper-section {
    position: relative;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 75%;
    flex-direction: row;
    margin: 2% 12.5%;
}
.article1 {
    display: flex;
    border: 0px solid black;
    width: 75%;
    height: 250px;
    margin: 2% 12.5%;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;

}
.article2 {
    border: 1px solid black;
    width: 50%;
    height: 723px;
    margin: 130px 130px;
}


.article3 {
    border: 1px solid black;
    width: 75%;
    height: 300px;
    margin: 130px 130px;
}
.article4 {
    border: 1px solid black;
    width: 75%;
    height: 300px;
    margin: 130px 130px;
}

.page_title {
    width: 50%;
}

.nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.butn1 {
    height: 64px;
    width: 180px;
    border-radius: 8px;
    background-color: orange;
    border: 0px;
    color: white;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

img {
    visibility: visible;
}
.img1 {
    margin: 2% 12.5%;
    height: 700px;
    width: 1440px;
    border-radius: 8px;

}

.img-gallery {
    width: 1320px;
    height: 710px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2% 12.5%;
    justify-content: center;
    align-items: center;
}

.fourimgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: right;
    margin: 10px;
}
.fourimgs img {
    margin: 5px;
}
.quick-list {
    justify-content: left;
    display:flex;
    flex-direction: column;
    margin-left: 5%;

}

.long-sec {
    width: 75%;
    height: 1060px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2% 12.5%;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-right: 20%;
    position: relative;
}

.rectangle {
    height: 107px;
    width: 6px;
    background: rgba(255, 144, 14, 1);
    border-radius: .5px;
    margin-right: 5%;
  }

.leadarticle {
    display: flex;
}

.miniarticles {
    margin-left: 5%;
    margin-top: 10%;
}

.miniarticle {
 margin-bottom: 10%;
}

.rectangle2 {
    height: 160px;
    width: 280px;
    left: 32%;
    position: absolute;
    top: 80%;
    border-radius: 8px;
    background: rgba(255, 144, 14, 1);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .facts {
    display: flex;
    margin: 2% 12.5%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }

  .achivements {
    display: flex;
    flex-direction: row;
    margin: 2% 12.5%;
    justify-content: space-around;
    width: 75%;
    
  }

  .achive {
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .happy_clients {
    display: flex;
    flex-direction: row;
    margin: 2% 12.5%;
    justify-content: space-around;
    width: 75%;
    height: 100px;
    align-items: center;
    
  }
  .happy_clients img {
    width: 200px;
    height: 150px;
  }
  .client {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px;
  }

  .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 7% 12.5%;
  }


  .sponsor-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    filter: grayscale(100%);
    margin: 2% 12.5%;
  }

  .sponsor {
    align-items: center;
    justify-content: center;
  }

  .sponsor-article {
    width: 75%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2% 12.5%;
  }

  .footer {
    align-items: center;
    justify-content: center;
    margin: 2% 0%;
    display: flex;
    width: 100%;
  }
  .footer-div {
    background: rgba(255, 244, 231, 1);
    width: 1440px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

  }

  /* Css Animation */
  .zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(2.5);
    padding: 20%;
  }

  /* Media Queries */

  /* Mobile Devices */

  @media only screen and (max-width: 688px) {
    body {
        width: 100%;
    }
  }